/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.container {
    max-width: 1230px;
    margin: 0 auto;
    font-family: Ubuntu;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.header__menu {
    margin-left: 40px;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    color: #424551;
    font-size: 16px;
    font-weight: 700;
    margin: 0 20px;
}

.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
}

.talk {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_text {
    margin-left: 15px;
    color: #1E212C;
    font-size: 18px;
    font-weight: 400;
}

.mb {
    margin-bottom: 5px;
    color: #424551;
}


.application {
    background-image: url('../img/image-12.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 826px;
    padding-top: 80px;
    margin: 0 auto;
}

.application_form {
    position: relative;
    width: 495px;
    height: 666px;
    background-color: #fff;
    margin: auto 0 auto auto;
    padding-top: 48px;
}

.application_title {
    color: #1E212C;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

.application_inputs {
    width: 415px;
    height: 73px;
    margin: 20px auto;
}

.application_text {
    color: #424551;
    font-size: 14px;
    font-weight: 400;
}

.chek_text {
    font-size: 14px;
    font-weight: 400;
    color: #424551;
    padding-left: 10px;
    width: 350px;
}

.application_chek {
    width: 415px;
    height: 42px;
    margin: 0 auto;
    display: flex;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 50px;
}

.application_input {
    height: 44px;
    width: 415px;
    padding: 11px 16px;
    font-size: 14px;
    font-weight: 400;
    color: #424551;
    background-color: #F4F5F6;
    border: 1px solid #D7DADD;
    margin-top: 10px;
}

.application_input_mess {
    height: 66px;
    width: 415px;
    padding: 11px 16px;
    font-size: 14px;
    font-weight: 400;
    color: #424551;
    background-color: #F4F5F6;
    border: 1px solid #D7DADD;
    margin-top: 10px;
}

.button_app {
    width: 174px;
    height: 44px;
    margin: 0 auto;
    background-color: #FF5A30;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
}

.button_app:hover {
    background-color: #FC3300;
}

.application_button {
    width: 200px;
    margin: 0 auto;
}

.footer {
    height: 566px;
    width: 100%;
    background-color: #1E212C;
    margin: 0 auto;
}

.network {
    color: #787A80;
    font-size: 22px;
    height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.network:hover {
    color: #FF5A30;
}

.footer_text {
    color: #787A80;
    font-size: 14px;
    font-weight: 400;
}

.footer_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo .footer_flex {
    justify-content: start;
}

.footer_logo {
    height: 210px;
    width: 493px;
}

.logo_text {
    width: 440px;
}

.logo_form {
    padding-top: 80px;
}

.social {
    margin-left: 40px;
    margin-bottom: 24px;
}

.footer_flex .logo {
    margin-bottom: 24px;
}

.footer_form_title {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
}

.form_foot_button {
    width: 131px;
    height: 44px;
    color: #ffffff;
    border-radius: 0 4px 4px 0;
    background-color: #FF5A30;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.form_foot_button:hover {
    background-color: #FC3300;
}

.form_foot_input {
    width: 364px;
    background-color: #424551;
    border-radius: 4px 0 0 4px;
    border: 1px solid #787A80;
    border-right: none;
    color: white;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
}

.form_foot {
    display: flex;
    margin-bottom: 16px;
}

.footer_form {
    width: 495px;
    height: 156px;
}

.office {
    height: 123px;
    width: 349px;
    display: inline-block;
}

.who {
    height: 123px;
    width: 137px;
    display: inline-block;
    margin-left: 120px;
    margin-right: 120px;
}

.experience {
    height: 123px;
    width: 150px;
    display: inline-block;
}

.information_title {
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-bottom: 13px;
}

.information_info {
    color: #787A80;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.information_info a{
    color: #787A80;
}

.information_info span {
    color: white;
}

.footer_back {
    font-size: 12px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 60px;
}

.back_button {
    font-size: 14px;
    margin-right: 15px;
}

.back_flex {
    display: flex;
    align-items: flex-end;
    color: white;
}

input[type='checkbox'] {
    accent-color: #FF5A30;
}

textarea {
    resize: none;
}

@media (max-width: 1240px) {
    .container {
        max-width: 970px;
    }

    .contact_text {
        margin-left: 15px;
        color: #1E212C;
        font-size: 18px;
        font-weight: 400;
    }

    .header__menu {
        margin-left: 20px;
    }

    .header__link {
        color: #424551;
        font-size: 16px;
        font-weight: 700;
        margin: 0 20px;
    }

    .contact {
        width: 35%;
    }

    .call {
        margin-right: 5px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .contact_text {
        margin-left: 5px;
        color: #1E212C;
        font-size: 14px;
        font-weight: 400;
    }

    .header__menu {
        margin-left: 20px;
    }

    .header__link {
        color: #424551;
        font-size: 14px;
        font-weight: 700;
        margin: 0 10px;
    }

    .contact {
        width: 35%;
    }

    .call {
        margin-right: 5px;
    }

    .application {
        height: 750px;
    }

    .application_form {
        width: 350px;
        height: 580px;
        margin-right: 30px;
    }

    .application_title {
        font-size: 25px;
        padding-bottom: 10px;
    }

    .application_inputs {
        width: 320px;
        height: 60px;
        margin: 20px auto;
    }

    .application_chek {
        width: 320px;
    }

    .application_input {
        width: 320px;
    }

    .application_input_mess {
        width: 320px;
    }

    .footer_logo {
        height: 210px;
        width: 380px;
    }

    .logo_text {
        width: 380px;
    }

    .footer_form {
        width: 380px;
        height: 156px;
    }

    .form_foot_input {
        width: 280px;
    }

    .form_foot_button {
        width: 80px;
        font-size: 12px;
    }

    .who {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 343px;
    }

    .application_form {
        width: 343px;
        height: 580px;
        margin-right: 30px;
    }

    .header_flex {
        width: 343px;
        margin: 0 auto;
    }

    .header {
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 250;
        background-color: #fff;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    body.lock {
        overflow: hidden;
    }

    .header__logo {
        flex: 0 0 50;
    }



    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #1D1D1B;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        content: '';
        top: 0;
    }

    .header__burger:after {
        content: '';
        bottom: 1px;
    }

    .header__burger span {
        position: absolute;
        background-color: #1D1D1B;
        left: 0;
        width: 100%;
        height: 3px;
        top: 8px;
        transition: all 0.3s ease 0s;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 8px;
        background-color: #FF5A30;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
        background-color: #FF5A30;
    }

    .header__burger.active span {
        display: none;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: -20px;
        width: 100%;
        height: 100%;
        background-color: black;
        padding-top: 100px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .header__link {
        color: white;
        font-size: 24px;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
        width: 343px;
        margin: 0 auto;
    }

    .header__list li {
        margin: 0 0 20px 20px;
    }

    .footer {
        height: 930px;
    }

    .footer_flex {
        display: block;
        text-align: center;
    }

    .footer_logo .footer_flex {
        display: flex;
    }

    .footer_logo {
        height: 150px;
        width: 343px;
    }

    .social {
        margin-left: 20px;
        margin-bottom: 24px;
    }

    .logo_text {
        width: 343px;
    }

    .form_foot_input {
        width: 243px;
    }

    .form_foot_button {
        width: 100px;
    }

    .footer_text {
        width: 343px;
        margin-bottom: 30px;
    }

    .footer_form_title {
        width: 343px;
    }

    .footer_form {
        width: 343px;
        margin-bottom: 30px;
    }

    .office {
        width: 343px;
    }

    .who {
        width: 343px;
        margin-left: 0;
        margin-right: 0;
    }

    .experience {
        width: 343px;
    }

    .footer_back {
        margin-top: 30px;
    }

    .back_button {
        font-size: 14px;
        margin-right: 5px;
    }

    .contact {
        width: 80px;
        display:flex;
        justify-content: space-between;
        position: fixed;
        bottom: 10%;
        right: 10%;
    }

    .contact_text{
        display: none;
    }

}


