body {
    font-family: Ubuntu;
}

.after_header {
    margin-top: 80px;
}

.link {
    display: flex;
    align-items: center;
    color: #9A9CA5;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}

.link p {
    margin-right: 5px;
}

.link p a {
    color: #424551;
}

.services_title {
    font-size: 72px;
    font-weight: 700;
    color: #1E212C;
    margin-bottom: 30px;
    width: 600px;
}

.services_text {
    color: #787A80;
    font-size: 20px;
    font-weight: 400;
    width: 600px;
    line-height: 30px;
}

.bg {
    width: 100%;
    height: 600px;
    background-image: url('../img/news.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 120px;
    margin-top: 0;
}

.main {
    margin-top: 120px;
    margin-bottom: 180px;
}

.categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.categories-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 59.8px;
    text-align: center;
    color: #1E212C;
}

.cat-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: center;

}

.categoria {
    width: 205px;
    height: 46px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9A9CA5;
    cursor: pointer;
    user-select:none;
}

.categoria.active {
    color: #FF5A30;
    border: 1px solid #FF5A30;
}

.new-img{
    width: 600px;
    height: 306px;
}

.new-img img{
    height: 100%;
    width: 100%;
}

.new{
    width: 600px;
    height: 482px;
    box-shadow: 3px 3px 1em silver;
    margin-bottom: 60px;
}

.new:hover{
    box-shadow: 5px 10px 2em silver;
}

.new-con{
    width: 552px;
    margin: 0 auto;
}

.new_title {
    font-size: 20px;
    font-weight: 700;
    color: #1E212C;
    margin-top: 20px;
}

.new_text {
    font-size: 16px;
    font-weight: 400;
}

.new_info {
    color: #787A80;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    width: 657px;
    margin: 20px 0 25px 0;
}

.type {
    margin-right: 5px;
}

.date {
    margin-right: 5px;
}

.new:hover .new_title {
    color: #FF5A30;
}

.new-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.new-slider {
    overflow: hidden;
    position: relative;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullet.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet.swiper-pagination-bullet-active-next-next{
    color: transparent;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: auto;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
    cursor: pointer;
    user-select:none;
    opacity: 1;
}

.swiper-pagination-bullet {
    background: transparent;
    color: #424551;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 0 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main{
    color: #FF5A30;
}

.new-slider  .swiper-pagination-bullet-active {

}

.swiper-button-next:after,
.swiper-button-prev:after{
    display: none;
}

.swiper-button-disabled.s-button-next,
.swiper-button-disabled.s-button-prev{
    display: none;
}

.s-button-next, .s-button-prev{
    width: 48px;
    height: 48px;
    color: #424551;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-button-next ion-icon, .s-button-prev ion-icon{
    width: 20px;
    height: 201px;

}

.new-slider{
    position: relative;
    z-index: 2;
}

.arrow-wrp{
    width: 25%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    z-index: 5;
    top: 45%;
    padding: 0 10px 0 20px;
}

@media (max-width: 1240px) {
    .container {
        max-width: 970px;
    }

    .new-slide{
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 343px;
    }

    .arrow-wrp {
        width: 100%;
    }

    .categories{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    .categoria {
        width: 100px;
        height: 46px;
        margin-top: 20px;
    }

    .new-img{
        width: 333px;
        height: 250px;
    }

    .new-img img{
        height: 100%;
        width: 100%;
    }

    .new{
        width: 333px;
        height: 482px;
    }

    .new-con{
        width: 300px;
    }

    .new_info {
        width: 343px;
    }

    .link{
        padding-top: 50px;
    }

    .services_title{
        font-size: 60px;
        width: 343px;
        margin-bottom: 30px;

    }

    .services_text{
        width: 343px;
        color: #424551;
    }

}

