body {
    font-family: Ubuntu;
}

.after_header {
    margin-top: 80px;
}

.link {
    display: flex;
    align-items: center;
    color: #9A9CA5;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}

.link p {
    margin-right: 5px;
}

.link p a {
    color: #424551;
}

.services_title {
    font-size: 72px;
    font-weight: 700;
    color: #1E212C;
    margin-bottom: 30px;
    width: 600px;
}

.services_text {
    color: #787A80;
    font-size: 20px;
    font-weight: 400;
    width: 600px;
    line-height: 30px;
}

.bg {
    width: 100%;
    height: 600px;
    background-image: url('../img/service.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 120px;
    margin-top: 0;
}

.main {
    margin-top: 120px;
}

.offer_img {
    width: 705px;
    height: 440px;
}

.offer_img img {
    height: 100%;
    width: 100%;
}

.offer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
}

.offers {
    width: 420px;
}

.offer-title {
    color: #1E212C;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 60px;
}

.off:first-child {
    margin-bottom: 24px;
}

.off-img {
    padding-top: 9px;
}

.offer-info {
    width: 376px;
    margin-left: 20px;
}

.off {
    display: flex;
    justify-content: start;
    align-items: start;
}

.off-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    user-select:none;
}

.off-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #787A80;
    display: none;
}

.off-text.active{
    display: block;
}

.off-plus{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
}


.off-plus:after{
    content: '';
    background-color: #FF5A30;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
    transform: rotate(90deg);
    top: 20px;
    border-radius: 4px;
}



.off-plus:after{
    content: '';
    bottom: 1px;
}

.off-plus span{
    position: absolute;
    background-color: #FF5A30;
    left: 0;
    width: 100%;
    height: 3px;
    top: 20px;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}

.off-plus.active:after{
    display: none;
}





.steps {
    margin-bottom: 120px;
}

.step-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 59.8px;
    color: #1E212C;
    margin-bottom: 60px;
}

.step-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step {
    width: 285px;
    height: 192px;
    position: relative;
}

.step-number {
    color: #D7DADD;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 59.8px;
    position: relative;
    z-index: 5;
}

.step-tit {
    font-size: 20px;
    font-weight: 700;
    color: #1E212C;
    line-height: 30px;
    margin-bottom: 8px;
}

.step-text {
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 400;
    color: #787A80;
}

.step:hover .step-number {
    color: #FF5A30;
    position: relative;
    z-index: 5;
}

.step:hover .step-number:before {
    content: '';
    height: 84px;
    width: 84px;
    border-radius: 50%;
    background-color: rgba(255, 90, 48, .4);
    position: absolute;
    top: -12px;
    left: -15px;
    z-index: 1;
}

.benefits {
    width: 100%;
    height: 565px;
    background-color: #1E212C;
    padding-top: 80px;
    text-align: center;
    margin-bottom: 180px;
    position: relative;
}

.title_values {
    font-weight: 700;
    font-size: 46px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.text_values {
    font-size: 18px;
    font-weight: 400;
    color: #787A80;
}

.title_value {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 24px 0 8px 0;

}

.text_value {
    font-size: 16px;
    font-weight: 400;
    color: #787A80;
    line-height: 25.6px;
}

.values_flex {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.value {
    width: 285px;
    height: 188px;
}

.value-button {
    width: 390px;
    height: 52px;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    background-color: #FF5A30;
    position: absolute;
    top: 559px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.value-button:hover {
    background-color: #FC3300;
}

.projects {
    margin-bottom: 100px;
}

.project {
    font-family: Ubuntu;
    position: relative;
    width: 390px;
    height: 440px;
    border-radius: 4px;
    box-shadow: 3px 5px 1em silver;
    margin-bottom: 10px;
}

.project:hover {
    box-shadow: 5px 10px 2em silver;
}

.project:hover .project_info {
    padding-bottom: 20px;
}

.project:hover .project_button {
    display: block;
}

.project img {
    width: 100%;
    height: 345px;
}

.project_info {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 390px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.project_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    color: #1E212C;
}

.project_text {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #787A80;
    margin-bottom: 24px;
}

.project_button {
    display: none;
    width: 172px;
    height: 44px;
    border-radius: 4px;
    color: #FF5A30;
    background-color: #fff;
    border: 1px solid #FF5A30;
    margin-left: 109px;
    text-transform: uppercase;
    font-weight: 700;
}

.project_button:hover {
    background-color: #FF5A30;
    color: white;
    border: none;
}

.project_button a {
    color: #FF5A30;
}

.project_button:hover a {
    color: white;
}


.all_project {
    width: 604px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.project-slider {
    overflow: hidden;
    margin-top: 60px;
}

.title_project {
    width: 705px;
    height: 60px;
    font-size: 46px;
    font-weight: 700;
    line-height: 59.8px;
}

.main-slider {
    position: relative;
    z-index: 2;
}

.project-arrow-wrp {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    top: 45%;
    padding: 0 10px 0 20px;

}

.project-button-prev, .project-button-next {
    font-size: 20px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    color: #424551;
}

.swiper-button-disabled {
    color: black;
}

.swiper-button-disabled.project-button-prev,
.swiper-button-disabled.project-button-next {
    color: black;
    background-color: transparent;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.project-flex {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.all_project {
    width: 604px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.all_title {
    color: #1E212C;
    font-size: 28px;
    font-weight: 700;
}

.all_button {
    color: white;
    background-color: #FF5A30;
    width: 212px;
    height: 52px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.all_button:hover {
    background-color: #FC3300;
}

.pricing {
    height: 1418px;
    width: 100%;
    background-color: #F4F5F6;
    padding-top: 80px;
    padding-bottom: 110px;
    text-align: center;
}

.pricing-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 59.8px;
    color: #1E212C;
    margin-bottom: 24px;
}

.pricing-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #787A80;
    margin-bottom: 60px;
}

.cards{
    display: none;
}

.table {
    height: 743px;
    width: 100%;
    margin-bottom: 120px;
    box-shadow: 5px 10px 2em silver;
}

.client_title {
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    line-height: 59.8px;
    color: #1E212C;
    margin-bottom: 60px;
}

.client_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 170px;
}

.client img {
    filter: grayscale(100%);
}

.client img:hover {
    filter: grayscale(0%);
}

.table {
}

.head-tb {
    height: 111px;
    background-color: #fff;
}

.tr-tb {
    height: 58px;
}

.bg-tb {
    height: 58px;
    background-color: #fff;
}

.bg-tb:last-child {
    height: 100px;
}

.head-tb .types,
.head-tb .items {
    padding-top: 32px;
    padding-bottom: 24px;
}

.item {
    width: 495px;
    text-align: start;
    padding-left: 24px;
}

.types {
    width: 245px;
}

.item {
    font-size: 18px;
    font-weight: 700;
    color: #1E212C;
    padding-top: 38px;
}

.type {
    font-size: 24px;
    font-weight: 700;
    color: #1E212C;
    line-height: 36px;
    margin-bottom: 2px;
}

.price {
    font-size: 18px;
    font-weight: 400;
    color: #787A80;
}

.plans {
    text-align: start;
}

.plan {
    padding-left: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #424551;
    line-height: 25.6px;
}

.marks {
    color: #424551;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.tb-button {
    width: 143px;
    height: 36px;
    background-color: transparent;
    color: #FF5A30;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid #FF5A30;
    font-size: 12px;
    font-weight: 700;
}

.tb-button:hover {
    color: #FFFFFF;
    background-color: #FF5A30;
}

@media (max-width: 1240px) {
    .container {
        max-width: 970px;
    }

    .offer_img {
        width: 500px;
    }

    .step {
        width: 235px;
    }

    .project {
        width: 310px;
        height: 400px;
    }

    .project_info {
        width: 310px;
    }

    .project_button {
        margin-left: 70px;
    }

    .project_title {
        font-size: 18px;
    }

    .all_project {
        width: 500px;
        margin: 0 auto;
        margin-top: 50px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .offer_img {
        width: 350px;
        height: 300px;
    }

    .offers {
        width: 370px;
    }

    .step {
        width: 180px;
        height: 250px;
    }

    .value {
        width: 225px;
    }

    .project {
        width: 230px;
        height: 300px;
    }

    .title_project {
        width: 605px;
        height: 80px;
        font-size: 39px;
        font-weight: 700;
        line-height: 59.8px;
    }

    .project_info {
        width: 230px;
    }

    .project img {
        width: 100%;
        height: 250px;
    }

    .project_button {
        margin-left: 30px;
    }

    .project_title {
        font-size: 18px;
    }

    .item {
        width: 200px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 343px;
    }

    .link {
        padding-top: 50px;
    }

    .services_title {
        font-size: 60px;
        width: 343px;
    }

    .services_text {
        font-size: 16px;
        width: 343px;
    }

    .bg {
        height: 400px;
        margin-bottom: 50px;
    }

    .main {
        margin-top: 0;
    }

    .offer {
        display: block;
        margin-bottom: 70px;
    }
    .offer_img{
        width: 343px;
        height: 343px;
        margin-bottom: 30px;
    }

    .offer-title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .off:first-child {
        margin-bottom: 15px;
    }

    .offer-info {
        width: 300px;
        margin-left: 13px;
    }

    .off {
        align-items: start;
    }

    .off-title {
        padding-top: 5px;
        font-size: 20px;
        line-height: 30px;
    }

    .steps {
        margin-bottom: 70px;
    }

    .step-title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .step-flex {
        display: block;
    }

    .step {
        width: 300px;
        height: 200px;
        position: relative;
    }

    .values {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .title_values {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .text_values {
        font-size: 16px;
    }

    .title_value {
        font-size: 18px;
        margin: 10px 0 10px 0;
    }

    .text_value {
        font-size: 12px;
        line-height: 20px;
    }

    .value {
        width: 115px;
        height: 188px;
    }

    .value-button {
        width: 300px;
    }

    .benefits{
        margin-bottom: 80px;
    }

    .project{
        width: 343px;
        height: 343px;
    }

    .project-slider{
        margin-top: 20px;
    }

    .title_project{
        width: 343px;
        height: 80px;
        font-size: 39px;
        font-weight: 700;
        line-height: 59.8px;
    }

    .project_info{
        width: 343px;
    }

    .project img{
        width: 100%;
        height: 270px;
    }

    .project_button{
        margin-left: 85.5px;
    }

    .project_title{
        font-size: 18px;
    }

    .project-flex{
        display: block;
    }

    .title_project{
        width: 343px;
        height: 50px;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    .all_project {
        width: 343px;
        margin: 0 auto;
        margin-top: 30px;
        display: block;
        text-align: center;
    }

    .all_project .all_title{
        margin-bottom: 20px;
    }

    .projects{
        margin-bottom: 30px;
    }

    .table{
        display: none;
    }

    .client_title{
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        color: #1E212C;
        margin-bottom: 60px;
    }

    .clients{
        margin-top: 80px;
    }

    .client_flex{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        margin-bottom: 70px;
    }

    .pricing{
        height: 2200px;
    }

    .cards{
        display: block;
    }

    .base-card{
        width: 335px;
        height: 656px;
        text-align: center;
        box-shadow: 5px 10px 2em silver;
        margin-bottom: 50px;
    }

    .standard-card{
        width: 335px;
        height: 656px;
        text-align: center;
        box-shadow: 5px 10px 2em silver;
        margin-bottom: 50px;
        border: 1px solid #FF5A3066;
    }

    .base-title{
        height: 100px;
        border-radius: 4px 4px 0 0;
        background-color: #1E212C;
        margin-bottom: 24px;
        font-size: 28px;
        font-weight: 700;
        color: #FFFFFF;
        text-align: center;
        padding-top: 35px;
    }

    .standard-title{
        height: 100px;
        border-radius: 4px 4px 0 0;
        background-color: #FF5A30;
        margin-bottom: 24px;
        font-size: 28px;
        font-weight: 700;
        color: #FFFFFF;
        text-align: center;
        padding-top: 35px;
    }

    .card-price{
        font-size: 20px;
        font-weight: 400;
        color: #1e212c;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
    }

    .card-price span{
        color: #FF5A30;
        font-weight: 700;
        font-size: 46px;
        padding: 0 16px;
    }

    .card-items{
        width: 271px;
        margin: 0 auto;
    }

    .card-item{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

    .card-text{
        margin-left: 8px;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        color: #424551;
    }

    .cross{
        color: #9A9CA5;
    }

    .card-button{
        width: 174px;
        height: 44px;
        border-radius: 4px;
        border: 1px solid #FF5A30;
        background-color: transparent;
        color: #FF5A30;
        text-transform: uppercase;
        margin-top: 32px;
        font-size: 14px;
        font-weight: 700;
    }

    .card-button:hover{
        color: #FFFFFF;
        background-color: #FF5A30;
    }

    .standard-button{
        width: 174px;
        height: 44px;
        border-radius: 4px;
        background-color: #FF5A30;
        color: #FFF;
        text-transform: uppercase;
        margin-top: 32px;
        font-size: 14px;
        font-weight: 700;
    }

    .standard-button:hover{
        color: #FFFFFF;
        background-color: #FC3300;
    }

}


